header{
    background-color: red;
    padding: 40px;
    font-size: 50px;
}

.chamada{
    background-color: chartreuse;
    padding-bottom: 3em;
    padding-top: 2em;
    color: black;
    display:flex;
    justfy-content: center;

}
.chamada-texto{
    padding-right:6em;
        }
<section class="categoria">
<h2> Aprenda as receitas